/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/jC5ldg7HXDjw.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/BgwhPurnY13u.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/WwVvvHsXqh2b.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/wdJrsX9JSU3i.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/2Rtw09Zwbjw5.otf') format('truetype');
}